@charset "UTF-8";

body {
  display: block;
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box {
  height: 65px;
  width: 100%;
  color: #777;
  border-bottom: solid 1px #c7c7cc;
  overflow: hidden;
}
.box:link {
  color: black;
}
.box:visited {
  color: black;
}
.box:active {
  color: black;
  background-color: #C8C7CC;
}



.row-container {
  height: 65px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.row-box {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 5px;
}
.row-box-img {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
}
.row-box-img img {
  width: 16px;
  height: 16px
}
.row-box .heading {
  font-size: 15px !important;
  overflow: hidden;
  height: 1.8em;
  line-height: 1.8;
}